.DS_Store
build/
out/
.gradle/
*.log
*.class
*.jar
!gradle-wrapper.jar
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*~
.project
.idea/
*.iml
*.tmproj
.vscode/
# @additional_entries@
# @additional_entries@